header {
background-color: yellow;
text-align: right;
}

#content{
  background-color: gray;
}

#content > ul >li{
  text-align: center;
  list-style: none;
}

#wrap{
  background-color: green;
}
nav{
  background-color: green;
  display: inline-block;
}

nav > ul{
  background-color: black;
}

nav > ul > li{
  float: left;
  list-style: none;
  background-color: black;
  padding:10px;
  margin: 10px;

}

nav > ul > li > a{
  color:white;
  padding:50px;
  text-align: center;

}


aside > ul > li{
  style:none;
}

aside{
  width:15%;
  height: 650px;
  margin-top:22px;
  float:right;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  background-image: url(http://www.literarygenius.info/images/william-shakespeare.jpg);
}

aside > h2 {
  text-align: center;
}

footer{
  padding: 10px;
  style: none;
}
